<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RavenWebPayroll.Data.Properties.Settings.RavenPXConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RavenPX;Persist Security Info=True;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>